@import "../../../../index.scss";

.usersSettingsDiv{
  padding: 0px !important;
  margin: 0px !important;
}

.usersSettingsDiv > h3{
  align-items: center;
  text-align: center !important;
}

.form-group{
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}


