@import "../../index.scss";

.local-client-btn{
	background: $lightBlue;
  margin: 10px;
}

.loginButton{
  margin-top: 20px;
}

.local-client-btn:disabled{
	background: grey;
}

.local-client-btn:hover:disabled{
	text-shadow: 0px 0px 0px rgba(255, 255, 255, 1) !important;
	-webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0) !important;
	-moz-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0) !important;
  padding: 10px;
  width: 60%;
}

#client-title-panel::before{
  background-color: $lightBlue;
}

//active input text
.client-form-group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 50%;
}

.client-form-field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid $gray;
  outline: 0;
  font-size: 1.3rem;
  color: $white;
  padding: 7px 0;
  background: transparent !important;
  transition: border-color 0.5s;

  &::placeholder {
    color: transparent;
  }

  &:placeholder-shown ~ .client-form-label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
  }
}

.client-form-field:-webkit-autofill,
.client-form-field:-webkit-autofill:hover,
.client-form-field:-webkit-autofill:focus,
.client-form-field:-webkit-autofill:active {
  transition: background-color 5000000s ease-in-out 0s;
  -webkit-text-fill-color: $white !important;
}

.client-form-label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.5s;
  font-size: 1rem;
  color: $gray;
}

.client-form-field:focus {
  ~ .client-form-label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: $mint;
    font-weight:700;    
  }
  padding-bottom: 6px;  
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, $mint, $darkBlue);
  border-image-slice: 1;
}
/* reset input */
.client-form-field{
  &:required,&:invalid { box-shadow:none; }
}

.description-password-rules{
  color: white;
  margin-top: 20px;

}

.client-list li{
  margin-left: -20px;
  padding-left: -20px;
}