#logo{
  max-width: 50px;
}

table, tr {
  border:2px solid black !important;
  color: black;
  width: 100%;
  background-color: white;
  text-align: center;
}

td, th {
  border:2px solid black !important;
  color: black;
  //width: 100%;
  background-color: white;
  text-align: center;
}
 

//tr:nth-child(even) {background-color: #f2f2f2;}
