#logo{
  max-width: 50px;
}

table, tr {
  border:2px solid black !important;
  color: black;
  width: 100%;
  background-color: white;
  text-align: center;
}

td, th {
  border:2px solid black !important;
  color: black;
  background-color: white;
  text-align: center;
}
