@import "../../../index.scss";

.bookmarkBox{
  padding-top: 20px;
  padding-bottom: 20px;
}

.chat-message-box{
  margin-left: 15px;
  //overflow: hidden;
  max-width: 50px;
  white-space: pre-wrap;
  word-wrap: break-word;
}