<p>
    Dzień dobry! <br>
    Naprawa o id: {{id}} uzyskała decyzję klienta w sprawie naprawy.<br>
</p>
<footer>
    <p>Wiadomość wygenerowana automatycznie, prosimy nie odpowiadać na nią. <br></p>
    <p>
        -----------------------------<br>
        <b>CSSS</b><br>
        ul. Politechniczna 20, Poznań<br>
        123 456 789
    </p>
</footer>