<p>
    Dzień dobry! <br>
    Status naprawy o id: {{id}} uległ zmianie na {{status}}.<br>
    Opis: {{description}}<br>
    Powiadomimy Cię o dalszych losach Twojego urządzenia. <br>
</p>
<footer>
    <p>Wiadomość wygenerowana automatycznie, prosimy nie odpowiadać na nią. <br></p>
    <p>
        -----------------------------<br>
        <b>CSSS</b><br>
        ul. Polimemiczna 20, Poznań<br>
        123 456 789
    </p>
</footer>