@import "../../../index.scss";

hr{
  padding: 0px;
}

h5{
  padding-bottom: 5px;
}

h3{
  padding-bottom: 5px;
  //display: inline;
  text-align: right;
}

a:link, a:visited {
  //background-color: $blue;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  //border-left: 5px $blue solid;
  text-align: left;
}

a:hover, a:active {
  background-color: $lightBlue;
  color: black !important;
  //border-left: 5px $blue solid;
  text-align: left;
}

.menuImg{
  margin:1px;
}

.offcanvas-info{
  padding: 15px;
  color: white;
  text-align: right;
}

.offcanvas{
  min-width: 200px !important;
  width: 300px !important;
  border: 0px;
}

.offcanvas-body{
  padding: 0px !important;
  margin: 0px !important;
  background-color: $navy !important;
  border-left: 5px $blue solid;
  text-align: left;
}

.offcanvas-header{
  background-color: $navy;
  color: white;
  border-left: 5px $blue solid;
}